
.page-container {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    height: 100%;
   .page-top {}
   .page-content {
        border-radius: .25rem;
        padding: 1.75rem;
        box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.05), 0 2px 4px 0 rgba(0,0,0,0.05);
        background-color: white;
        width: 1000px;
        height: auto;
        margin: 0 auto 1.75rem auto;
        @media (max-width: 1000px) {
            width: 100%;
            padding: 1rem;
        }
   }
   .page-bottom {
        background-color: #DDD7D0;
        height:auto;
   }
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: transparent;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn:hover, .btn:focus {
    text-decoration: none;
    outline:0;
}
.btn.disabled, .btn:disabled {
    opacity: 0.65;
}
.btn-default {
    background-color: #355c7d;
    color: white;
}
.active {
    background-color: #355c7d!important;
    color: white;
}
.btn-default:hover {
    background-color: #3a5b79;
}
.btn-outline-default {
    border: 1px solid #355c7d;
    background-color: transparent!important;
}
.btn-outline-default:hover {
    color: white!important;
    background-color: #355c7d!important;
}
.btn-font-default {
    background-color:white!important;
    color: #355c7d!important;
    font-weight: 620;
}
.btn-font-default:hover {
    background-color: #355c7d!important;
    color: white!important;
}
textarea {
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid #e9ecef;
    border-radius: 4px;
    resize: none;
    color: #212529;
    display: block;
    line-height: 1.5
}

.hide {
    display: none!important;
}

h1,h2,h3,h4,h5,h6 {
    color: #3c3b3b;
    font-weight: 800;
    letter-spacing: 0.25rem;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

#topmenu-layout {
    #topmenu-container {
        ul {
            list-style: none;
            margin: 0;
            padding-left: 0;
            li {
                display: inline-block;
                padding-left: 0
            }
        }
    }
}

a {
    color: inherit;
    text-decoration: none;
}
.image.featured {
    display: block;
    margin: 0;
    width: 100%;
    img {
        width: 100%;
    }
}
.image {
    border: 0;
    display: inline-block;
    position: relative;
    img {
        display: block;
    }
}
p {
    margin: 0 0 2em 0;
    word-break: break-all;
}
ul {
    list-style: none;
    margin: 0 0 2em 0;
    padding-left: 0;
}
ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}