.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    .prepend {
        display: flex;
        justify-content: center;
        button {
            border: none;
        }
    }
    .append {
        display: flex;
        justify-content: center;
        button {
            border: none;
        }
    }
    input {
        flex: 1 1
    }
}

input {
    padding: .75rem;
}